*{
    margin: 0;
    padding: 0;
}

#preloader {
    
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#424fff; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#424fff; /* cor do background que vai ocupar o body */
    z-index:999; /* z-index para jogar para frente e sobrepor tudo */
}
#preloader .inner {
    position: absolute;
    top: 50%; /* centralizar a parte interna do preload (onde fica a animação)*/
    left: 50%;
    transform: translate(-50%, -50%);  
}
.bolas > div {
  display: inline-block;
  background-color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin: 3px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: animarBola;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
   
}
.bolas > div:nth-child(1) {
    animation-duration:0.75s ;
    animation-delay: 0;
}
.bolas > div:nth-child(2) {
    animation-duration: 0.75s ;
    animation-delay: 0.12s;
}
.bolas > div:nth-child(3) {
    animation-duration: 0.75s  ;
    animation-delay: 0.24s;
}
 
@keyframes animarBola {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  16% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }
  33% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
  } 
}

/*NAVBAR*/
.logo{
    max-width: 250px;
}

.navbar-nav{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content:space-between;
}

.nav-link{
    font-size: 18px;
    font-weight: bold;
    color: black;
}

.txt-pri{
    width: 80%;
    padding: 30px;
    border: 10px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: cursive;
    color: #3299CC;
    text-align: center;
    font-size: 50px;
}

h2{
    font-family: cursive;
    text-align: center;
    font-size: 40px;
}
/*tela login*/
form.login{
    margin-top: 25px;   
    margin-bottom: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
}

.formulario{
    width: 300px;
    text-align: left;
}

p.comeco{
    font-size: 25px;
    
}

label{
    font-size: 20px;
    
}

input[type=email],[type=password]{
    height: 45px;
    width: 100%;
    padding: 10px;
    border: solid 1px #000;
}

input[type=submit]{
    padding: 10px 50px 10px 50px;
    background-color: #FFFDC6;
    border-radius: 5px;
    font-weight: bold;

    -webkit-box-shadow: 1px 1px 5px 0 #9c9a9a;
    -moz-box-shadow: 1px 1px 5px 0 #9c9a9a;
    box-shadow: 1px 1px 5px 0 #9c9a9a;
   
    border: solid #FFFDC6 1px;
}

input[type=email]:focus, [type=password]:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border:outset  2px #000;
}

.final-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
}

p.final-login-cadastro{
    font-family: cursive;
    color: darkgoldenrod;
    font-size: 25px;
}

a.cadastro{
    padding: 10px 30px 10px 30px;
    background-color: #FFFDC6;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: small;

    -webkit-box-shadow: 1px 1px 5px 0 #9c9a9a;
    -moz-box-shadow: 1px 1px 5px 0 #9c9a9a;
    box-shadow: 1px 1px 5px 0 #9c9a9a;
   
    border: solid #FFFDC6 1px;
}

/*telas "minhaconta" da pasta aluno*/

@keyframes box-minhaconta{
    from{
        transform: translate3d(0px, 20px, 0px);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }    
}

.box{
    animation-name: box-minhaconta;
    animation-duration: 1s;
    background-color: #a26faf;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    border-radius: 5px;
    margin: auto;

    -webkit-box-shadow: 1px 1px 5px 0 #9c9a9a;
    -moz-box-shadow: 1px 1px 5px 0 #9c9a9a;
    box-shadow: 1px 1px 5px 0 #9c9a9a;

}

.box:hover{
    color:#000000;
}

.cont-aluno{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    grid-template-areas: 
    'box-1'
    'box-2'
    'box-3'
    'box-4'
    'box-5';
}

.box-1{
    grid-area: box-1;
    padding:  20px 40px 20px 40px;
}

.box-2{
    grid-area: box-2;
    padding: 20px 31px 20px 31px;
}

.box-3{ 
    grid-area: box-3;
    padding: 20px 39px 20px 39px;
}

.box-4{
    grid-area: box-4;
    padding: 20px 60px 20px 60px;
}

.box-5{
    grid-area: box-5;
    padding: 20px 46px 20px 46px;
}


/*tela "minhaconta" da pasta aluno*/

.cont-professor{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
    grid-template-areas: 
    'box-6'
    'box-7'
    'box-8'
    'box-9'
    'box-10';
}

.box-6{
    grid-area: box-6;
    padding: 20px 40px 20px 40px;
}

.box-7{
    grid-area: box-7;
    padding: 20px 32px 20px 32px;
}

.box-8{
    grid-area: box-8;
    padding: 20px 59px 20px 59px;
}

.box-9{
    grid-area: box-9;
    padding: 20px 48px 20px 48px;
}

.box-10{
    grid-area: box-10;
    padding: 20px 68px 20px 68px;
}

/*telas "meus dados" das pastas aluno e professor*/


@keyframes meusdados-a{
    from{
        transform: translate3d(-50px, 0px, 0px);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }    
}

@keyframes meusdados-b{
    from{
        transform: translate3d(50px, 0px, 0px);
        opacity: 0;
    }
    to{
        transform: translate3d(0,0,0);
        opacity: 1;
    }    
}

.fundo-meus-dados{
    margin-top: 25px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
}

.meus-dados-a{
    animation-name: meusdados-a;
    animation-duration: 1s;
}

.linha-vertical{
    height: 350px;
    border-left: #66edff solid;
}

.meus-dados-b{
    animation-name: meusdados-b;
    animation-duration: 1s;
}

/*tela "turmas" da pasta aluno*/
div.fundo-txt-turmas{
    background-color:#f1f0f0;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    
}

input.txt-turmas{
    width: 80%;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 0 0;
    background-color: #f1f0f0;
    border: #000 1px solid;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input.txt-turmas:focus{
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

button.btn-pesquisa-turmas{
    width: 20%;
    border: none;
    border-radius: 20px;
    border: #000 1px solid;
}

div.turmas{
    width: 480px;
    height: 115px;
    background-color:#fafa004b;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    
}

p.dados{
    flex: 2;
    padding: 10px 0px 0px 10px;
    margin-bottom: 0;
}

button.matricula{
    background-color: #f8d300;
    border-radius: 5px;
    margin-right: 30px;
    height: 25px;
    flex: 0.8;
    margin-top: 80px;
    font-size: x-small;
    border: none;
    font-weight: bold;
}

div.foto{
    flex: 1;
    border: #000 solid 1px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*tela "desempenho" e "chat com o professor" da pasta aluno*/
.btn-chat{
    background-color: #88ff7de5;
    color: #000;
    text-decoration: none;
    font-size: x-small;
    padding: 10px 10px 10px 10px;
    height: 50px;
    width: 100px;
    border: none;
}

/*tela minhas aulas da pasta professor*/

form.minha-aula{
    display: flex;
    border: #000 solid 5px;
    border-radius: 10px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px 15px 15px;
}

.minhas-aulas-esquerda{
    width: 70%;
}

input.minhas-aulas{
    width: 90%;
    height: 50px;
    padding: 5px;
}

.minhas-aulas-direita{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

input[type="file"]{
    display: none;
}

label.arquivo{
    background-color: chartreuse;
    padding: 3px;
    border: solid #000 0px;
    border-radius: 5px;
    font-weight: bold;
    font-size:medium;
    -webkit-box-shadow: 1px 1px 5px 0 #9c9a9a;
    -moz-box-shadow: 1px 1px 5px 0 #9c9a9a;
    box-shadow: 1px 1px 5px 0 #9c9a9a;
}

label.arquivo:hover{
    cursor: pointer;
}

select.aula{
    height: 40px;
}

input.enviar-minhas-aulas{
    background-color: chartreuse;
    border: solid chartreuse 1px;
    
    padding: 10px;
}

/*tela "turmas" da pasta professor*/
div.fundo-turmas-professor{
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #3299CC;
}

a.ver-turma{
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: small;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-top: 100px;
    background-color:#f8d300;
}

h3.periodo{
    font-weight: bolder;
}

/*Tela período.html da pasta professor*/

table{
    border: 1px solid #000;
    width: 80%;
    text-align: center;
    background-color: aquamarine;
}

th{
    padding: 10px;
}

td{
    padding: 10px;
}
tr{
    padding: 10px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    text-align: justify;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.fundo{
    display: flex;
    background-color: chartreuse;
    justify-content: space-around;
    align-items: center;

}

#grafico{
    width:700px;
    height:500px;
    background-color: #ffffff;
    padding:25px;
    margin:0 auto;
    display: block;
}

#textoProduto{
    width:500px;
    height:500px;
    background-color: #ffffff;
    padding:30px;
    border:10px;
    margin:0 auto;
    display: block;
}

.organo{
    width: 100px;
}

.fundoOrgano{
    width:700px;
    text-align: center;
    background-color: #be0808;
}

#textoApresentacao{
    width:500px;
} 

#missao{
    width:500px;
} 

#textoIntegrantes{
    width:500px;
    
    background-color: #ffffff;
    
}

@media (max-width: 1064px){

    .nav-link{
        font-size: 20px;
    }

    h1{
        font-size: 50px;
    }

    p.comeco{
        font-size: 20px;
    }

    .fundo-meus-dados-aluno{
        max-width: 80%;
    }

    div.fundo-turmas-professor{
        width: 90%;
    }

}